.inputs{
    outline: none;
    border: none;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 50px;
    /* background: transparent; */
}
.secondinput{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    /* width: 410px; */
    width: 100%;
    height: 56px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    border: 1px solid #AEAEAE;
    /* border: none; */
    background-color: transparent;
    
}
/* .secondinput :focus{
    border: none;
    background-color: red;
} */
/* .secondinput :hover {
    border: thick solid blue !important;
  } */
/* .inputs ::placeholder {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  } */
/* input:invalid{
    border: 2px solid rgb(221, 162, 162);
} */
.inputs:valid{
    border: 2px solid green;
}