.mainbutton{
    width: 97px;
    padding: 10px 10px 10px 14px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 700;
    gap: 4px;
    border: none;
    color: white;
    background-color: #4B6BFB;
    
}
.subbutton{
    border: none;
    width: 410px;
    height: 56px;
    padding: 12px 80px 12px 80px;
    border-radius: 10px;
    gap: 10px;
    background-color: #4B6BFB;
    color: white;   
}
.spinner{
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media(min-width: 200px) and (max-width: 900px){
    .subbutton{
      border: none;
      width: 320px;
      height: 56px;
      padding: 12px 80px 12px 80px;
      border-radius: 10px;
      gap: 10px;
      background-color: #4B6BFB;
      color: white;   
  }
  }
  