.cardcontainer {
  width: 360px;
  height: 488px;
  padding: 16px;
  border-radius: 12px;
  border: 1px;
  gap: 16px;
  border: thin solid rgb(184, 170, 170);

  /* box-shadow: ; */
}
.imagecontainer {
  width: 360px;
  height: 240px;
  border-radius: 6px;
}

.image {
  /* width: 224px; */
  /* height: 304px; */
  width: 360px;
  height: 240px;
  border-radius: 6px;
}
.cardcontainer__title {
  width: 360px;
  height: 200px;

  gap: 20px;
}
.button {
  margin-top: 6px;
}
.cardcontainer__title button {
  color: #4b6bfb;
  background: #f6f7ff;
}
.title {
  font-weight: 800;
  margin-bottom: 6px;
}
.name {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  /* border: thin solid red; */
  align-items: center;
  position: relative;
  /* top: 4px; */
  color: rgb(66, 63, 63);
  font-size: 16px;
  font-weight: 500;
  /* line-height: 24px; */
  letter-spacing: 0em;
  text-align: left;
}
.avatar {
  border: thin solid red;
  /* display: flex; */
  justify-content: center;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.avatar span {
  position: relative;
  top: 10px;
}
