.background {
  /* background-image: url("../../assets/background.png");
  height: 77.7vh;
  background-size: cover; */
  /* margin-left: 100px; */
  /* background-repeat: no-repeat;
  background-position: center; */
  background-image: url("../../assets/background.png");
  height: 87.7vh;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}
.background__card {
  width: 40%;
  height: 174px;
  top: 360px;
  left: 104px;
  padding: 40px;
  border-radius: 12px;
  border: 1px;
  gap: 24px;
  position: relative;
  top: 317px;
  color: white;
}
.background__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.name {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.blog {
  position: relative;
  top: 30px;
  width: 85%;
  margin: auto;
}
.blog__posts {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.blog__h1 {
  margin-bottom: 12px;
}
.blog__searchinput {
  background: white;
  border: none;
  border-radius: 50px;
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  line-height: 24px;
  padding: 17px 25px;
  width: 30%;
  margin-bottom: 20px;
}
.blog__card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: auto;
  justify-content: space-between;
  animation: moveInLeft 1.7s ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  75% {
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.paginate {
  display: flex;
  width: 30%;
  border: thin solid rgb(171, 171, 173);
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
  margin: 20px;
}
.pageClassName {
  /* border: thin solid rgb(114, 107, 107); */
  width: 20px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-radius: 100%;
  box-shadow: 0.5px 1px 2px 0.5px black;
  background-color: rgb(184, 176, 176);
  cursor: pointer;
}
.pageClassName :active{
  background-color: red;
}
