.signin_container {
    width: 410px;
    height: 545px;
    position: relative;
    top: 61px;
    gap: 32px;
    margin: auto;
  }
  .signin_container_heading_h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 10px;
  }
  .signin_container_heading_p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #757575;
    margin-bottom: 20px;
  }
  .signin_container_name {
    display: flex;
    justify-content: space-between;
  }
  .signin_container_name_input {
    width: 193px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
  }
  .hideicon{
      /* width: 20px; */
      position: relative;
      left: 360px;
      bottom: 45px;
  }
  .span{
    text-align: center;
  }
  