.signup_container {
  width: 410px;
  height: 508px;
  position: relative;
  top: 61px;
  gap: 32px;
  margin: auto;
  overflow: hidden;
}
.signup_container_heading_h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
}
.signup_container_heading_p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #757575;
  margin-bottom: 20px;
}
.signup_container_name {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
}
.signup_container_name input {
  width: 100%;
}
/* .signup_container_name_input {
  width: 193px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #c0c0c0; 
} */
.hideicon {
  position: relative;
  left: 360px;
  bottom: 45px;
  font-size: 20px;
}
.span {
  text-align: center;
}
.error {
  color: red;
}
.span__login{
  color: blue !important;
}
